* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}
.navi h1{
    text-align: center;
    font-size: 59px;
}
nav button{
    width: 15%;
    border: none;
    background-color: white;
    align-self: start;
}
.read{
    grid-column: 2;
    grid-row: 1;
}
.art1 h2{
    grid-column: 2;
    grid-row: 2;
    
}
.text1{
    grid-column: 2;
    grid-row: 3;
}
figure {
    grid-column: 1;
    grid-row: 4;
    display: grid;
    align-items: start;
    margin-bottom: 50px;
    
    
}
figure img{
    grid-column: 2/3;
    grid-row: 4;
}
.sidetext{
    align-items: start;
    text-align: right;
}
.fa-camera{
    padding-top: 20px;
}
.udland h3{
    color: red;
    font-size: 14px;
    border-bottom: 2px solid black;
}
.tid a{
    margin-left: auto;
    
    
}
.kommentar{
    grid-column: 1/-1;
    font-size: 13x;
}
.knap1{
    width: 80px;
    height: 20px;
    border-radius: 5px;
    grid-column: 2;
    grid-row: 1;
    justify-self: left;
    background-color: rgb(18, 41, 145);
    color: white;
}
.knap2{
    width: 80px;
    height: 20px;
    border-radius: 5px;
    grid-column: 2;
    grid-row: 1;
    justify-self: center;
    background-color: rgb(73, 197, 246);
    color: white;
}
.knap3{
    width: 80px;
    height: 20px;
    border-radius: 5px;
    grid-column: 2;
    grid-row: 1;
    justify-self: end;
    color: white;
    background-color: grey
}
.abo{
    grid-column: 1/-1;
    text-align: center;
    margin-top: 40px;
}
.klik{
    grid-column: 1/-1;
    display: block;
    justify-self: center;
    margin-top: 20px;
    width: 200px;
    height: 30px;
    background-color: red;
    margin-bottom: 10px;
}
.allerede{
    grid-column: 1/-1;
    grid-row: 7;
    text-align: center;
}